@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    margin: 0;
    size: auto;
  }
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    background: white;
  }
  .print:break-after-page {
    break-after: page;
  }
  .print:hidden {
    display: none;
  }
  .print:shadow-none {
    box-shadow: none;
  }
  .print:w-full {
    width: 100%;
    max-width: none;
  }
  .print:min-h-screen {
    min-height: 100vh;
  }
  .print:mb-0 {
    margin-bottom: 0;
  }
}
